.label_ele {
    width: 100px;
    padding: 2px;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    font-size: 0.9em;
}

.input_ele {
    width: 12em;
    padding: 2px;
    display: table-cell;
    vertical-align: middle;
}

.submit_ele {
  margin-top: 1em;
  text-align: center;
}

.show_form_img {
  width: 1.5em;
  height: 0.6em;
  float: right;
  cursor: pointer;
}

.user_id {
  text-align: center;
}

.user_name {

}

.user_login {
  /*padding: 0.5em;*/
}

.user_newpass {
  padding: 0.5em;
}

.user_name input {
  max-width: 5em;
  border: none;
  font-size: 1em;
}

.user_login input {
  max-width: 8em;
  border: none;
  font-size: 1em;
}

.user_newpass input {
  max-width: 15em;
  border: none;
  font-size: 1em;
}

.edit_btn {
  padding: 0.5em 0.1em;
  display: inline-block;
}

.delete_btn {
  padding: 0.5em 0.1em;
  display: inline-block;
}

.edit_btn input {
  padding: 0.25em 2em;
  display: inline-block;
}

.delete_btn input {
  padding: 0.25em 2em;
  display: inline-block;
}

/* Table */
.table {
  display: table;
  border: 1px solid black;
  border-collapse: collapse;
}

.tr {
  display:table-row;
}

.th {
  display:table-cell;
}

.td {
  display:table-cell;
  padding: 0 0.5em;
  border: 1px solid black;
}

.td.head {
  background: #0b65b1;
  padding: 0.5em;
  color: white;
  font-size: 0.9em;
  font-weight: bold;
}

#content_wrapper {
  background: lightgray;
  margin-top: 1em;
  text-align: left;
}

#status {
  /*background: white;*/
  margin-top: 1em;
  margin-left: 1em;
}

#user_lst {
  padding: 0 1em;
}

#user_lst_view {
  background: white;
  padding: 1em;
  border: 1px solid gray;
}

#add_new_user {
  padding: 1em;
}

#new_user_wrapper {
  background: white;
  padding: 1em;
  border: 1px solid gray;
  display: inline-block;
}

#s_id {
  margin-top: 1em;
  text-align: center;
}
