.label_ele {
    width: 100px;
    padding: 2px;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    font-size: 0.9em;
}

.input_ele {
    width: 12em;
    padding: 2px;
    display: table-cell;
    vertical-align: middle;
}

.submit_ele {
  margin-top: 1em;
  text-align: center;
}

.show_form_img {
  width: 1.5em;
  height: 0.6em;
  float: right;
  cursor: pointer;
}

#content_wrapper {
  background: lightgray;
  margin-top: 1em;
  text-align: left;
}

#user_lst {
  background: red;
  padding: 1em;
}

#add_new_user {
  background: blue;
  padding: 1em;
}

#chng_name {
  min-width: 20em;
  padding: 1em;
  margin: 0.5em;
  border-bottom: 1px solid white;
}

#chng_login {
  min-width: 20em;
  padding: 1em;
  margin: 0.5em;
  border-bottom: 1px solid white;
}

#chng_pass {
  min-width: 20em;
  padding: 1em;
  margin: 0.5em;
}

#chng_name form {
  display: none;
}

#chng_login form {
  display: none;
}

#chng_pass form {
  display: none;
}
