#nav_form_id {
	background: #298de2;
}

#event_form {
	width: 30em;
	margin: auto;
}

#f_elements {
	background: lightgray;
	padding: 20px;
}

#e_id {
	padding-top: 2px;
	padding-bottom: 2px;
}

#st_id {
	padding-top: 2px;
	padding-bottom: 2px;
}

#et_id {
	padding-top: 2px;
	padding-bottom: 2px;
}

#l_id {
	padding-top: 2px;
	padding-bottom: 2px;
}

#dotw_id {
	padding-top: 2px;
	padding-bottom: 2px;
}

/* Input styles */
.label_ele {
	width: 160px;
	padding: 2px;
	display: inline-block;
	vertical-align: top;
}

.input_ele {
	width: 200px;

	padding: 2px;

	display: inline-block;
	vertical-align: top;
}

/* submit style */
#s_id {
	padding-top: 15px;
}

#s_id input {
	background: #0b65b2;
	color: white;
	font-size: 1.5em;
	width: 48.91%;
	height: 40px;
}

#s_id input:active  {
	box-shadow: 1px 1px 1px white,
				inset 1px 1px 5px black;
}

/* Error Dialog */
#error_dialog {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	
	background: rgba(224, 224, 224, 0.5);
	display: none;
	align-items: center;
}

#error_content {
	background: white;
	width: 30em;
	height: 5em;
	padding: 1em;
	border-radius: 30px;
	margin: auto auto;
	box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 
				0 2px 6px rgba(0,0,0,0.15);
}

#form_err {
	background: lightgray;
	padding: 0.5em;
	margin-bottom: 1em;
	font-family: Courier;
}

#form_err_header {
	background: #afafaf;
	padding: 1em;
}

#form_err_input {
	float: right;
}

#error_img {
	display: inline-block;
	vertical-align: top;
}

#error_msg b {
	font-size: 1.5em;
}

#error_img img  {
	width: 5em;
	height: 5em;
}

#error_msg {
	line-height: 2em;
	height: 5em;
	display: inline-block;
	vertical-align: top;
}
