#login_elements {
    background: lightgray;
    padding: 1em;
    display: inline-block;
}

.label_ele {
    width: 160px;
    padding: 2px;
    display: inline-block;
    vertical-align: top;
    text-align: right;
    font-size: 0.9em;
}

.input_ele {
    width: 12em;
    padding: 2px;
    display: inline-block;
    vertical-align: top;
}

#password {
    /*margin-top: 0.5em;*/
}

#s_id {
    margin-top: 1em;
}

#s_id input {
    padding: 0.7em 3em;
    font-size: 0.9em;
    margin-right: 1em;
}

#main_content {
    /*margin-top: 10em;*/
}

#status {
  text-align: left;
}

#form_err_wrapper {

}

#form_err {
    background: lightgray;
    padding: 0.5em;
    margin-bottom: 1em;
    font-family: Courier;
    display: inline-block;
    text-align: left;
}

#form_err_header {
    background: #afafaf;
    padding: 0.4em;
}

#form_err_input {
    float: right;
    padding: 5px 10px;
}

#admin {
    border: 1px dashed black;
    padding: 0.5em;
    margin-bottom: 1em;
}

#forgot {
    font-size: 0.8em;
    color: gray;
    float: right;
    padding: 0.45em;
}

#confirm_user {
    border: 1px dashed black;
    padding: 0.5em;
    margin-bottom: 0.5em;
}
